
body {
  margin-top: 40px;
  background-color: rgba(165, 159, 167, 0.85)
}

.header {
  font-family: "Luckiest Guy", Times, serif;
  color: rgb(50, 46, 50);
}

.text {
  color: #000000;
  border-collapse: collapse;
}

.p {
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
  margin: 0px auto;
  float: none;
}

.h3 {
  font-weight: bold;
  font-family: monospace;
  font-size: 24px;
  margin-top: 20px;
}

#kojima {
 font-size: 12px;
 font-style: italic;
}

.table {
  font-size: 13px;
  font-family: monospace;
  border-radius: 5px;
  width: 70%;
  margin: 0px auto;
  float: none;
}

.img {
    height: 70%;
    width: 100%;

}
